@{
    ViewData["Title"] = "POWDER ";
}
<!--Creator: Mark Thuet-->
<!-- Description: This is a website about the stoke. It is about skiing those unreal freshies.-->

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Add your custom icon link here -->
    <link rel="icon" href="~/ski.png" type="image/png">
</head>
<body>

    <div class="text-center">
        
        <h2>Catch some stoke down below so I can bless you up with the best hobby known to mankind </h2>

        <!-- Add your images here -->
        <img src="~/skier.jpeg" alt ="Ski Image 1">
        <img src="~/img_4493.jpg" alt="Ski Image 2">

        <!-- Add paragraphs about your hobby -->
        <p>Powder hounds and snow sliders alike revel in the local ski scene, 
            where the thrill of shredding fresh pow down the steeps is practically a way of life.
            From first tracks at dawn to après-ski vibes at the lodge, our mountain community 
            lives and breathes the stoke. When the snow gods bless us with a gnarly dump, 
            the crew can be found sending it through the trees, laying down sick lines, 
            and hollering 'face shots' all the way. Catch us perfecting our butter 180s and 
            catching air off natural kickers, as we dial in our technique on these legendary 
            slopes.</p>
        <p>In this tight-knit alpine haven, skiers drop into the local hills with a sense of 
            camaraderie that's as deep as the powder we carve. Our conversations are peppered
            with terms like 'corduroy' and 'champagne powder,' while the locals swap stories about
            epic 'bluebird days' and the elusive pursuit of 'neck-deep turns.' The backcountry
            beckons those seeking untouched lines and the challenge of mastering tricky chutes, 
            while the terrain park crew is always innovating with new jibs and features. Whether 
            you're a seasoned ripper or a fresh-faced grom, the slopes here are more than just runs—they're a canvas for our collective passion for the endless pursuit of the perfect turn.</p>
    </div>

    <!-- Footer with copyright information -->
   

    <!-- Navigation link to the second page -->
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Pricing">Hit this link so I can teach you how to STOKE</a>
    </div>

</body>
</html>

